body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    background-color: #dbdbdb;
}

nav {
    padding: 40px;
    color: #dbdbdb;
    background-color: #323232;
    box-shadow: 0 0 10px black;
    display: flex;
}

h1 {
    margin: 0;
    font-size: 48px;
}

a {
    text-decoration: none;
    color: #dbdbdb;
}

footer {
    text-align: center;
    margin: 30px;
    
}

.name {
    display: flex;
    justify-content: center;
    flex: auto;
    margin-left: 120px;
    color: #fff;
}

.text {
    font-size: 14px;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.game {
    margin-top: 50px;
    display: flex;
    flex: auto;
    justify-content: center;
    gap: 80px;
}

.tools {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 200px;
}

.box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.checker {
    width: 14px;
    height: 14px;
    background-color: #fff;
    border: 1px solid #323232;
    border-radius: 7px;
}

.chosen {
    background-color: #808080;
}

.tool {
    height: 50px;
    width: 200px;
    margin-top: 20px;
    border: 2px solid #808080;
    border-radius: 20px;
    font-size: 18px;
}

.active {
    border: 0;
    background-color: #323232;
    color: #fff;
}

.canvas {
    width: 580px;
    display: flex;
    flex-wrap: wrap;
}

#checkbox {
    text-align: center;
    font-size: 14px;
}

#boxes {
    display: flex;
    gap: 15px;
}

#sizeChooser {
    font-size: 20px;
    text-align: center;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 200px;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid #323232;
    border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background-color: rgb(193, 193, 193);
    border: 1px solid #323232;
    border-radius: 10px;
    margin-top: -5px;
}

input[type="color"] {
    -webkit-appearance: none;
    padding: 0;
    width: 70px;
    height: 70px;
    border: 0;
    border-radius: 35px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type="color"]::-webkit-color-swatch {
    border-radius: 35px;
    border: none;
}